/* @import "mocha.css"; */
@import "theme.css";

/* --- GENERAL --- */
* {
  font-family: JetBrains Mono Nerd Font;
  font-size: 13px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @foreground;
}

#window,
#network,
#pulseaudio,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#custom-updates,
#custom-dunst,
#tray,
#custom-lock,
#custom-power{
  background-color: @background;
  padding: 0.5rem 0.75rem;
  margin: 5px 0;
}

/* --- LEFT MODULES --- */

#workspaces {
  border-radius: 1rem 0px 0px 1rem;

  margin: 5px 0 5px 5px;
  padding-left: 0.3rem;
  background-color: @background;
}

#workspaces button {
  color: @foreground;
  background-color: transparent;
  border-radius: 2rem;
  padding: 0.25rem;
  margin: 0.3rem 0;

  transition: color 0.5s, background-color 0.5s;
}

#workspaces button.persistent {
  color: @foreground;
}

#workspaces button.special {
  color: @foreground;
}

#workspaces button.active {
  color: @color11;
  background-color: @background;
}

#workspaces button:hover {
  color: @color5;
  background-color: @background;
}

#window {
  border-radius: 0px 1rem 1rem 0px;
  background-color: @background;
  margin-right: 0rem;
}

/* --- CENTER MODULES --- */

#clock {
  background-color: @background;
  padding: 0.5rem 0.75rem;
  margin: 5px 0;
  border-radius: 1rem;
  color: @blue;
}

/* --- RIGHT MODULES --- */

#network {
  color: @color15;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#pulseaudio {
  color: @foreground;
}

#cpu {
  color: @color14;
}

#memory {
  color: @foreground;
}

#temperature {
  color: @color8;
}

#backlight {
  color: @foreground;
}

#battery {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @color7;
}

#battery.charging {
  color: @color7;
}

#battery.warning:not(.charging) {
  color: @color11;
}

/*---*/

#tray {
  margin-right: 0.75rem;
  border-radius: 1rem;
}

/* --- */

#custom-dunst {
  border-radius: 1rem 0px 0px 1rem;
  color: @color7;
}

#custom-lock {
  color: @color5;
}

#custom-power {
  margin: 5px 5px 5px 0;
  border-radius: 0px 1rem 1rem 0px;
  color: @color11;
}
