* {
    active-background: #13536C;
    active-foreground: #E1E4E8;
    normal-background: #00020A;
    normal-foreground: #E1E4E8;
    urgent-background: #5E8295;
    urgent-foreground: #E1E4E8;

   alternate-active-background: #78808B;
   alternate-active-foreground: #E1E4E8;
   alternate-normal-background: #00020A;
   alternate-normal-foreground: #E1E4E8;
   alternate-urgent-background: #00020A;
   alternate-urgent-foreground: #E1E4E8;

   selected-active-background: #13536C;
   selected-active-foreground: #E1E4E8;
   selected-normal-background: #CCD0D6;
   selected-normal-foreground: #E1E4E8;
   selected-urgent-background: #5E8295;
   selected-urgent-foreground: #E1E4E8;

   background-color: #00020A;
   background: rgba(0,0,0,0.7);
   foreground: #CCD0D6;
   border-color: #13536C;
}
